.idea/*
.vscode/*
/Code/Backend/yarn.lock
/Code/Backend/package-lock.json
/Code/Backend/node_modules/
/Code/Backend/typings/
/Code/Backend/run/
/Code/Backend/logs/
/Code/Backend/.travis.yml
/Code/Backend/appveyor.yml
/Code/Backend/jsconfig.json
/Code/Backend/test/
/Code/Frontend/dist/
/Code/Frontend/node_modules/
/Code/Frontend/package-lock.json
/Code/Frontend/yarn.lock
/Code/Frontend/yarn-error.log
/Code/Frontend/src/.eslintrc.js
/Code/ChromePlugin.crx
/Code/ChromePlugin.pem
/Code/*.zip
/Code/ChromePlugin-v*
/Code/ChromePlugin/.idea/*
